<h2>List of Posts</h2>
<br>

<ng-template #loadingTemplate>
    <span>Loading....</span>
</ng-template>
<ng-template #errorTemplate>
    <span>{{errorMessage}}</span>
</ng-template>
<ng-template #norecordtemplate>
    <span> No records </span>
</ng-template>

<div *ngIf="isFetchOver;else loadingTemplate">
    <div *ngIf="errorMessage==='';else errorTemplate">
        <div>
            <label for="ddlSort">Sort By: &nbsp;</label>
            <select id="ddlSort" #ddl (change)="updateSortChoice(+(ddl.options[ddl.selectedIndex]).value)">
                <option value="0" selected disabled>--select--</option>
                <option value="1">Id</option>
                <option value="2">Title</option>
            </select>
        </div>
        <br>
        <table *ngIf="postRecords && postRecords.length>0;else norecordtemplate">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of (postRecords|sortPosts:sortChoice)">
                    <td (click)="setSelectedId(p.id)">
                        <!-- <u>{{p.id|currency:'INR'}}</u> -->
                        <u>{{p.id}}</u>
                    </td>
                    <td>{{p.title|uppercase}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<br>
<app-post-detail [selectedId]="selectedPostId"></app-post-detail>